body {
  background-color: lavenderblush;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 5px;
}

.square {
  width: 40vh;
}